*{
    margin: 0px;
    padding: 0px;
}
.contenedor{
    
    display: grid; 
    place-items: center;
    margin: 0px auto;
    background-color: beige;
    
    

    
}


.header{
    display: flex;
    align-items:end;
    margin-bottom: 100px;
    margin-top: 30px;
}
.imagenes{
    height: 200px;
    width: 200px;
}
img{
    height: 80px;
    width: 80px;
}

.contenedorfotos{
    display: flex;
    flex-direction: column;
}

.imagebox{
    display: flex;
    padding: 10 px;
    gap: 10px;
}

.azul{
    padding: 20px;
    background-color: blue;
    border: 2px solid black;
}

.rojo{
    padding: 20px;
    background-color: red;
    border: 2px solid black;
}


