p{
	background-color: grey;
	display: inline;
}
a{
	background-color: yellow;
	/*display: block;*/
}
ul{ /* 1*/
	background-color: blue;
	display: inline;
}
ul li{ /* 2 */
	background-color: green;
	display: inline;
}